outs/
output/
dist/
node_modules/
assets/.DS_Store
.DS_Store
tests/template
.vscode/launch.json
tests/raylib-test
tests/template2/main_2.tc
tests/template2/main_test.tc
tests/template2/main.tc
tests/template2/main2.tc
tests/template2/main3.tc
tests/template2/main4.tc
tests/template2/main5.tc
tests/template2/main6.tc
tests/template2/main101.tc
tests/template2/module.json
tests/template2/test7.tc
tests/template2/deps/cool.tc
tests/template2/deps/raylib/raylib_api.tc
tests/template2/deps/raylib/raylib.tc
tests/template2/test/abs.tc
tests/template2/test/fib.tc
tests/test18/module.json
tests/test18/test.tc
tests/test18/module.json
